{% block content %}
<h2 class="main-title">Add Friend</h2>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
            {% csrf_token %}
            <table>
            {% for form in add_friend_form %}
            <tr>
               <td>
                {{ form.label_tag }}
               </td>
               <td>
                {{ form }}
               </td>
            </tr>
            {% endfor %}
            </table>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">List friend</h2>
        <div class="flex">
            {% if allFriends %}
            <table>
                {% for data in allFriends %}
                    <div class="flex-item">
                        <div class="to-do-list">
                           <tr>
                                <td>{{data.name}} </td>
                                <td><a href="{{data.url}}">{{data.url}}</a></td>
                                <td>Added {{data.created_date}}</td>
                            </tr>
                        </div>
                    </div>
                {% endfor %}
            </table>
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}